In [167]:
__author__ ="jimmy hdez"
__version__ = "1.0.1"

In [119]:
#importamos las bibliotecas 
import pandas as pd #pandas para la manipulaci√≥n de datos,
import json #json para el tratamiento de objetos javascripts
import numpy as np  # soporte para crear vectores y matrices, tipos, funciones

In [162]:

file_path="path"
df=pd.read_csv(file_path)
df.head()

   id                                               data
0   1  {"id_dispositivo":"dht11-01","microsegundos":"...
1   2  {"id_dispositivo":"dht11-01","microsegundos":"...
2   3  {"id_dispositivo":"dht11-01","microsegundos":"...
3   4  {"id_dispositivo":"dht11-01","microsegundos":"...
4   5  {"id_dispositivo":"dht11-01","microsegundos":"...

In [163]:
df["json_data"]=df["data"].apply(json.loads)
temperature_data=json_normalize(df["json_data"])
temperature_data.head()

,id_dispositivo,microsegundos,fecha,timestamp,celcius,fahrenheit,humedad,ind_cal_cel,ind_cal_far
0,dht11-01,77515677,2023-8-15T18:37:10-0500,1692124630,26.10,78.98,46.00,25.97,78.74
1,dht11-01,83562512,2023-8-15T18:37:16-0500,1692124636,26.10,78.98,46.00,25.97,78.74
2,dht11-01,89609347,2023-8-15T18:37:22-0500,1692124642,,,46.00,25.97,78.74
3,dht11-01,95656202,2023-8-15T18:37:28-0500,1692124648,26.10,78.98,46.00,25.97,78.74
4,dht11-01,101703012,2023-8-15T18:37:34-0500,1692124654,26.10,78.98,46.00,25.97,78.74

In [164]:
temperature_data.replace('', np.nan,inplace=True)
temperature_data.isnull().sum()

id_dispositivo    0
microsegundos     0
fecha             0
timestamp         0
celcius           1
fahrenheit        1
humedad           0
ind_cal_cel       1
ind_cal_far       0
dtype: int64

In [165]:
tempeture_data.head()

,id_dispositivo,microsegundos,fecha,timestamp,celcius,fahrenheit,humedad,ind_cal_cel,ind_cal_far
0,dht11-01,77515677,2023-08-15 23:37:10+00:00,1692124630,26.1,78.98,46.00,25.97,78.74
1,dht11-01,83562512,2023-08-15 23:37:16+00:00,1692124636,26.1,78.98,46.00,25.97,78.74
2,dht11-01,89609347,2023-08-15 23:37:22+00:00,1692124642,NaN,NaN,46.00,25.97,78.74
3,dht11-01,95656202,2023-08-15 23:37:28+00:00,1692124648,26.1,78.98,46.00,25.97,78.74
4,dht11-01,101703012,2023-08-15 23:37:34+00:00,1692124654,26.1,78.98,46.00,25.97,78.74

In [166]:
tempeture_data['fahrenheit'] = tempeture_data['fahrenheit'].apply(lambda x: float(x) if x != '' else None)
tempeture_data['fecha']=pd.to_datetime(tempeture_data['fecha'],format='%Y-%m-%d %H:%M:%S')
tempeture_data.dtypes

id_dispositivo                 object
microsegundos                  object
fecha             datetime64[ns, UTC]
timestamp                       int64
celcius                       float64
fahrenheit                    float64
humedad                        object
ind_cal_cel                    object
ind_cal_far                    object
dtype: object